@font-face {
    font-family: "Verdana" sans-serif;
    src: url(./verdana/VERDANA0.TTF);
  }
body{
    margin: 0;
    padding: 0;
    font-size:  15px;
    line-height: 1.5;
    background-color: #f1f1f1;
    font-family: Verdana, sans-serif;
    max-height:1300px;
}
.container{
    /* border: solid black; */
    height: 700px;
    

}
.left-section1{
    /* border: greenyellow solid; */
    height: 700px;
    width: 49.99%;
    float: left;
    text-align: center;
    background-color: black;
    color: white;
    
}
.heading{
    padding: 64px 0;
    text-align: center;
}
h1{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 35px;
    padding: 0 27px;
}
h2{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
}
.link{
    padding: 64px 16px;
}
.btn{
    padding: 8px 16px;
    width: 100%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.a{
    padding: 16px 0;
    color: white;
}
.hhover:hover{
    background-color:  #607d8b;
    color: white;
}
.mhover:hover{
    background-color:  #009688;
    color: white;
}
.rhover:hover{
    background-color: #616161;
    color: white;
}
.chover:hover{
    background-color: rgba(163, 116, 116, 0.856);
    color: white;
}
.right-section1{
    /* border: solid greenyellow; */
    height: 700px;
    width: 49.99%;
    float: left;
    background-color: #607d8b;
    color: white;
}
.content{
    padding: 64px 0;
    text-align: center;
}
.Radius{
    border: none;
    border-radius: 50%;
    vertical-align: middle;
    width: 50%;
    text-align: center;
    margin: 16px;
}
.para{
    margin: 10px 0;
    text-align: left;
    padding: 1px 24px;
}
.Para{
    text-align: left;
}
.left-section2{
    /* border: greenyellow solid; */
    height: 800px;
    width: 49.99%;
    float: left;
    background-color: white;
    color: black;
}
.content-2{
    /* border: mediumvioletred solid; */
    padding: 64px 0;
    text-align: center;
    height: 525px;
    width: 90%;
    margin: auto;
}
.row1{
    /* border: solid mediumvioletred; */
    height: 140px;
    width: 100%;
    display: flex;
}
.half{
    width: 49.9%;
    float: left;
}
.half-img{
    vertical-align: middle;
    border: none;
    border-radius: none;
}

p{
    text-align: center;
}
.row2{
    /* border: solid mediumvioletred; */
    height: 140px;
    width: 100%;
    
    display: flex;
}
.row3{
    /* border: solid mediumvioletred; */
    height: 140px;
    width: 100%;
    display: flex;
}
.right-section2{
    /* border: solid greenyellow; */
    height: 800px;
    width: 49.99%;
    float: left;
    background-color: #3f51b5;
    color: white;
}
.box{
    padding: 0.01em 16px;
}
.data{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}
th , td{
    padding: 8px 8px;
    vertical-align: left;
    text-align: left;
    border: none;
    display: table-cell;
}
tr{
    padding-left: 16px;
}
.color{
    background-color: white;
    color: black;
}
.left-section3{
    /* border: greenyellow solid; */
    height: 700px;
    width: 49.99%;
    float: left;
    background-color: #616161;
    color: white;
}
.box2{
    /* border: solid seagreen; */
    height: 166px;
    padding: 64px 16px;
}
.right-section3{
    /* border: solid greenyellow; */
    height: 700px;
    width: 49.99%;
    float: left;
    background-color: #009688;
    color: white;
}
.box3{
    /* border: sienna solid; */
    height: 455px;
    padding: 64px 12px;
}
.opct{
    text-align: left;
    color:rgb(190, 188, 190);
    padding: 0 27px;
}
.frm{
    /* border: violet solid; */
    width: 85%;
    height: 290px;
    margin: auto;
    padding: 25px 16px;
    background-color: white;
    color: black;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
input{
    padding: 10px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 0;
    width: 97%;
}
.box4{
    margin: 16px 0;
}
button{
    background-color: #009688;
    color: white;
    border: none;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    cursor: pointer
}
.button1{
    padding: 3px;
    height: 35px;
    width: 13%;
    float: right;
}
footer{
    /* border: solid purple; */
    background-color: black;
    color: white;
    width: 97.5%;
    padding: 16px;
    margin-right: 0;
}
.footer-container{
    height: 99px;
}
h5{
    font-family: Verdana, sans-serif;
    font-size: 16px;
    margin: 14px 0;
    font-weight: 100;
}
.a1{
    /* text-decoration: none; */
    color: white;

}
.a1:hover{
    background-color: black;
    color: green;
}

























































